#homepage
  #posts-and-about
    #about
      = render :partial => 'about'

    #recent-posts
      %h2 Recent posts
      - @recent_posts.each do |p|
        .post-preview{:id => "page-#{p.id}"}
          %h3
            = link_to p.title, page_path(p)
          %p
            = preview_page(p)
          .post-metadata
            &ndash;
            %time{:pubdate => true, :datetime => p.date.strftime("%Y-%m-%d")}
              = p.date.strftime("%B %e, %Y")
      %p
        More posts about:
        != @all_categories.sort.collect{ |c| link_to(c, "/category/#{u(c)}")}.join(', ') + '.'

