- @title = @page.title

- render :partial => "syntax_highlighter"

#page
  %article#content
    %header
      %h1
        = @title
        
      - if @page.is_post?
        .post-metadata
          %time{:pubdate => true, :datetime => @page.date.strftime("%Y-%m-%d")}
            = @page.date.strftime("%B %e, %Y")

    .page-content{:id => "page-#{@page.id}"}
      !~ render_part(@page, @page.main_part, @formatter)

    %footer

      - if @page.categories && @page.categories.any?
        #page-categories
          Categories:
          != @page.categories.sort.collect { |c| link_to(c, "/category/#{c}")}.join(', ')

      - if @page.is_post?
        #comments
          %h3
            Comments
          %p
            Comment on this post
            = link_to("on Twitter", "https://twitter.com/share?url=#{u(request.url)}&text=#{u(@page.title)}: ")
            or privately
            = mail_to(BALISONG["email"], "by email", :encode => "hex") + '.'

  = render :partial => 'shared/sidebar'
