- @title = @page.title

- render :partial => "syntax_highlighter"

%article
  %header
    %h1
      = @title
      
    - if @page.date
      %time{:pubdate => true, :datetime => @page.date.strftime("%Y-%m-%d")}
        = @page.date.strftime("%B %e, %Y")

  .content{:id => "page-#{@page.id}"}
    ~ raw render_part(@page, @page.main_part, @formatter)

  %footer

    - if @page.categories && @page.categories.any?
      #categories
        Categories:
        = raw @page.categories.sort.collect { |c| link_to(c, "/category/#{c}")}.join(', ')

