/
  Includes for SyntaxHighlighter: http://alexgorbatchev.com/SyntaxHighlighter
  TODO include all brushes and compress JS
- dir = '/lib/syntaxhighlighter_3.0.83'
= javascript_include_tag "#{dir}/scripts/shCore.js"
= javascript_include_tag "#{dir}/scripts/shAutoloader.js"
= stylesheet_link_tag "#{dir}/styles/shCore.css"
= stylesheet_link_tag "#{dir}/styles/shThemeDefault.css"
/ Obtrusive JS is in footer
