!!! 5
-# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
-ie_html :class => 'no-js' do
  = render :partial => 'layouts/head'
  %body{ :lang => 'en', :class => "#{controller.controller_name}" }
    #container
      %header#page-header
        #flash
          - flash.each do |key, value|
            %div{ :title => key.to_s.humanize, :class => key }
              %p= value

        #page-header-main
          #site-title
            %h1
              = link_to BALISONG["site_title"], root_path
            - unless BALISONG["tagline"].blank?
              %h4#tagline 
                = BALISONG["tagline"]
          %nav
            %ul#site-menu
              %li
                =link_to "Home", root_path
              - @site_menu.each do |p|
                %li
                  = link_to p.title, '/' + Page.urlify(p.id)

      #main
        = yield
        
      %footer#footer
        .legal
          Copyright &copy; #{Date.today.year}
        .balisong-info
          Powered by 
          = link_to "Balisong", "https://github.com/pauldowman/balisong"

    -# Javascript at the bottom for fast page loading
    = render :partial => 'layouts/javascripts'
